.register-input {
    border: none;
}

#register-section {
    display: flex;

    width: 100vw;
    height: 100vh;

    article {
        .outer-img {
            position: absolute;
            top: -20px;
            bottom: 0;
            right: 0;
            left: -25px;
            height: 110%;
            width: 100%;
            object-fit: cover;
            opacity: 0.2;
        }
        .inner-img{
            position: absolute;
            top: 75px;
            left: 47%;
            width: 400px;
            transform: translate(-50%, -50%);
        }
    }
}

#register-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    section {
        width: 75%;
    }
}